[Unit]
Description=betterplace
After=network.target

[Service]
Environment=NODE_VERSION=20.11.1 NODE_ENV=production
ExecStart=/home/debian/.nvm/nvm-exec npm start
WorkingDirectory=/srv/better-place
StandardOutput=inherit
# Or use StandardOutput=null if you don't want messages filling syslog, for more options see systemd.exec(5)
StandardError=inherit
Restart=always
User=debian

[Install]
WantedBy=multi-user.target
