[env]

env=production
#env=dev

[file_storage]

public_directory=/home/michel/scraper-place/data/public
content_indexing_output_dir=/home/michel/scraper-place/data/content-indexing

[metadata_backup]

repository=/home/michel/projects/scraper-place/data/backups
region_name=xxx
bucket_name=xxx
aws_access_key_id=xxx
aws_secret_access_key=xxx

[aws_glacier]

region_name=xxx
bucket_name=xxx
aws_access_key_id=xxx
aws_secret_access_key=xxx

[tika]

tika_server_url=http://localhost:9998/

[elasticsearch]

elasticsearch_server_url=http://localhost:9200/
index_name=dce
