[database]

host=localhost
port=1234
name=place
username=place
password=***

[file_storage]

dir=/home/michel/scraper-place/files
tmp_dir=/home/michel/scraper-place/tmp
target_dir=/home/michel/scraper-place/target
