[env]

env=production
#env=dev

[database]

host=localhost
port=1234
name=place
username=place
password=***

[file_storage]

public_directory=/home/michel/scraper-place/data/public

[aws_glacier]

region_name=xxx
vaule_name=xxx
vault_arn=arn:aws:glacier:xxx:xxx:vaults/xxx

iam_id=arn:aws:iam::xxx:user/xxx
aws_access_key_id=xxx
aws_secret_access_key=xxx

[tika]

[elasticsearch]

elasticsearch_server_url=http://localhost:9200/
index_name=dce
document_type=dce


[aws_ec2]

region_name=xxx

iam_id=xxx
aws_access_key_id=xxx
aws_secret_access_key=xxx

security_group=xxx

key_name=xxx
private_key=/home/michel/scraper-place/scraper-place.pem

logs_directory=/home/michel/scraper-place/data/aws_logs
