[Unit]
Description=Tika Docker Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull apache/tika:latest-full
ExecStart=/usr/bin/docker run --rm --name %n -p 127.0.0.1:9998:9998 -v /srv/scraper-place/tika-config.json:/tika-config.json apache/tika:latest-full --config /tika-config.json

[Install]
WantedBy=multi-user.target
